.limitTextTo {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.bulletPoints {
  bottom: 0.5rem;
}

.userButton {
  padding: 0.1rem 0.8rem 0.1rem 0.3rem;
}

.twoLinesMax {
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
}

.letterSpacingThinner {
  letter-spacing: -0.08rem;
}

.descriptionUser {
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
}

.imagePartHorizontalAd {
  width: 45%;
}

.textPartHorizontalAd {
  width: 55%;
}

.horizontalCard {
  height: 17rem;
}

.badgeContainer {
  top: 0;
  right: 0;
}

.superUserBadge {
  
}
