/* .c-form {
  text-align: center;
  margin: auto;
  padding: 25px;
  border: 3px solid #23a339;
  border-radius: 15px;
}

.c-form input {
  display: block;
  width:90%;
  padding: 10px;
  text-align: center;
  margin: 15px auto
} */

.imageUrl::placeholder {
  font-size: 0.7rem;
}